{% extends 'layout.html.twig' %}

{% block content %}
    <h1 id='blah'>Home page</h1>

    <hr>

    <input id='book-input'>
    <button type="button" class='btn btn-danger' id="ajax-btn">AJAX</button>
    <div>

    </div>
{% endblock %}